# Ignore Everything
*

# Include
!.bashrc
!.profile
!.gitignore
!.bash_aliases
!com.ajfite.kdesplash.desktop/
!com.ajfite.kdesplash.desktop/*
!com.ajfite.kdesplash.desktop/*/*
!com.ajfite.kdesplash.desktop/*/*/*
