# Ignore Everything Not Explicitly Included
*

## Include

# Bash
!.bashrc
!.profile
!.bash_aliases

# Git
!.gitignore

# KDE Theme
!com.ajfite.kdesplash.desktop/
!com.ajfite.kdesplash.desktop/*
!com.ajfite.kdesplash.desktop/*/*
!com.ajfite.kdesplash.desktop/*/*/*

# Custom Scripts
!bin/
!bin/*

# Other
!package list
